.image-profile-nav{
  height: 25px;
  width: 25px;
}

.logo-icon-linkedin{
  height: 43px;
  width: 43px;
  color: #2481c9;
}

.icon{
  height: 25px;
  width: 25px;
  color: white;
}

.nav-color{
  background-color: #273642;
}

.nav-icon{
  width: 44px;
  height:44px;
}

.dropdown-menu{
  width: 500px !important;
}

.image-profile-dropdown{
  height: 20px;
  width: 20px;
}
